input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    // margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 95%;
    font-size: 1rem;
    margin-top: 13px;
}